<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 table">
    <ng-container matColumnDef="score">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let emprow; columns: displayedColumns" class="row"></tr>
        <!-- Ask hover -->

    </ng-container>
    <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column">
            <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchCase="'Subscribed'">
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let emp">
                        <span *ngIf="emp[column] === 'true'"><mat-icon>done</mat-icon></span>
                        <!-- Check best option -->
                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="'Action'">
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let emp">
                        <ng-container>
                            <mat-icon (click)="rowSelected(emp)" class="action"> edit</mat-icon>
                            <mat-icon (click)="deleteEmp(emp)" class="action">delete</mat-icon>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>

</table>