<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 table">
    <ng-container matColumnDef="score">
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
        <tr mat-row *matRowDef="let emprow; columns: displayedColumns" class="row"></tr>

    </ng-container>
    <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column">
            <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchCase="'subscribed'">
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let emp">
                        <span *ngIf="emp[column]"><mat-icon>done</mat-icon></span>

                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="'action'">
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let emp">
                        <ng-container>
                            <mat-icon (click)="rowSelected(emp)" class="action"> edit</mat-icon>
                            <mat-icon (click)="deleteEmp(emp)" class="action">delete</mat-icon>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let emp">{{ emp[column] }}</td>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>

</table>